
.am-tabs-default-bar-tab:nth-child(1) {
  width: 10% !important;
}
.am-tabs-default-bar-tab:nth-child(2){
  width: 30% !important;
}
.am-tabs-default-bar-tab:nth-child(3){
  width: 30% !important;
}
.am-tabs-default-bar-tab:nth-child(4){
  width: 30% !important;
}